.home {
  display: flex;
  flex-direction: column;
  margin: 0px 135px;

  &__podcasts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 64px;
    margin-top: 100px;
  }

  &__filter {
    display: flex;
    justify-content: flex-end;
    padding: 14px 0px;
    position: absolute;
    right: -54px;
  }
}
