.container {
  display: flex;
}

.banner {
  width: -webkit-fill-available;
  max-width: fit-content;
  min-width: max-content;
}

.episode {
  margin-left: 40px;

  audio {
    width: 100%;
  }

  &__description {
    font-style: italic;
    margin: 24px 0px;
  }
}
